@font-face {
  font-family: "icons";
  font-display: swap;
  src: url("../fonts/icons.woff") format("woff"), url("../fonts/icons.woff2#icons") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

%ic {
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="_icon-"],
[class*=" _icon-"] {
  &:before {
    @extend %ic;
    display: block;
  }
}

._icon-telega:before {
  content: "\e900";
  font-size: 63px;
  margin-bottom: 22px;
}

._icon-star:before {
  content: "\e901";
}

._icon-money:before {
  content: "\e902";
  font-size: 63px;
  margin-bottom: 22px;
}

._icon-item3:before {
  content: "\e903";
  font-size: 120px;
  text-align: center;
  margin-bottom: 24px;
  position: relative;
  right: 5%;
  bottom: 13%;

   @media (max-width: $md2 +px) {
    right: 0%;
    bottom: 0%;
    font-size: 100px;
  }
}

._icon-item2:before {
  content: "\e904";
  font-size: 120px;
  text-align: center;
  margin-bottom: 24px;
  position: relative;
  right: 13%;
  bottom: 9%;

  @media (max-width: $md2 +px) {
    right: 0%;
    bottom: 0%;
    font-size: 100px;
  }
}

._icon-item1:before {
  content: "\e905";
  font-size: 120px;
  text-align: center;
  margin-bottom: 24px;
  position: relative;
  right: 13%;

  @media (max-width: $md2 +px) {
    right: 0%;
    font-size: 100px;
  }
}

._icon-geo:before {
  content: "\e906";
  margin-right: 15px;
  font-size: 26px;
  // color: #46856E;

  &:hover {
    color: #46856E;
 
  }

  @media (max-width: $md3-5 +px) {
    color: #000;
    font-size: 50px;
  }

}

._icon-colco:before {
  content: "\e907";
  font-size: 53px;
  margin-bottom: 31px;
  transition:all 0.3s ease;
}

._icon-basket:before {
  content: "\e908";
  font-size: 26px;

  &:hover {
    padding: 0px 0px 10px 0px;
    border-bottom: solid 3px #46856E;
 }

  @media (max-width: $md3-5 +px) {
    color: #000;
    font-size: 50px;
    transition: all 0.3s ease;
  }
}