/*Основные стили*/

.slider {
   padding: 0px 0px 83px 0px;
}

/*Конкретный слайдер*/

.slider-1 .slick-slider {
   min-width: 0;
   padding: 0px 20px 100px 20px;
}

.slider-1 .slick-list {
   overflow: hidden;
}

.slider-1 .slick-track {
   height: 100%;
   display: flex;
}

.slider-1 .slick-slide {
   text-align: center;
}


.slider-1 .slick-arrow {
   width: 23px;
   height: 42px;
   background-size: contain;
   background-repeat: no-repeat;
   position: absolute;
   z-index: 10;
   bottom: 50%;
   font-size: 0px;
}

.slider-1 .slick-arrow.slick-prev {
   left: 7%;
   background-image: url('../img/slider1/left.png');
}

.slider-1 .slick-arrow.slick-next {
   right: 7%;
   background-image: url('../img/slider1/right.png');

}

.slider-1 .slick-dots {
   display: flex;
   align-items: center;
   justify-content: center;
   margin-top: 17px;
}

.slide-1 .slick-dots li {
   list-style: none;
   margin-top: 13px;
   margin-right: 10px;
}

.slider-1 .slick-dots button {
   font-size: 0;
   width: 13px;
   height: 13px;
   background-color: #E5E5E5;
   border-radius: 100%;
   border: none;
   margin-right: 8px;
}

.slider-1 .slick-dots li.slick-active button {
   background-color: #46856E;
}